.App {
  text-align: center;
    font-size: 1.5em;
}




.table {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: auto;
  align-content: center;
  font-weight: 300;
}
